install:
    - cmd: set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
    - cinst gitlink -y
    - cinst gitversion.portable -y
    
before_build:
    - cmd: cd Source
    - cmd: nuget restore
    - ps: gitversion /l console /output buildserver /updateassemblyinfo /b (get-item env:APPVEYOR_REPO_BRANCH).Value
    - cmd: cd ..
    
build:
  verbosity: minimal
  publish_nuget: true
  publish_nuget_symbols: true
  
after_build:
    - cmd: gitlink . -c Debug

nuget:
  account_feed: true
  project_feed: true
  
deploy:
- provider: NuGet
  server: https://www.myget.org/F/bosphorus/api/v2/package
  api_key:
    secure: jsZqwydLknpfHT2aAzpNzcsc/Hv+/uzDa7fh2euv3Qv6P30NvClXkw60qhp9X7NQ
  symbol_server: https://www.myget.org/F/bosphorus/symbols/api/v2/package
  artifact: /.*\.nupkg/  
  on:
    branch:
      - master
      - develop    
    